@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.test {
	font-family: 'Righteous', cursive;
	font-size: 5rem;
	color: #fff;
	text-align: center;
}
