@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#bg {
	/* this is not correct, need to check how to make it fully reposnsive */
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.test {
	font-family: 'Righteous', cursive;
	font-size: 5rem;
	color: #fff;
	text-align: center;
}
